In [1]:
import pandas as pd

In [2]:
metrics = pd.DataFrame(columns=['MSE', 'RMSE', 'MAE', 'MAPE'])

In [7]:
metrics

Empty DataFrame
Columns: [MSE, RMSE, MAE, MAPE]
Index: []

In [10]:
dict = {
    'a': 3,
    'b': 4,
    'c': 5
}

df = pd.DataFrame([dict])
df

   a  b  c
0  3  4  5