In [1]:
import config
import holidays
import pandas as pd
from src import load_data, save_data, handle_missing_values

In [ ]:
print('coucou')

In [2]:
data = load_data(config.RAW_DATA_FILE)

Données chargées avec succès.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
data = handle_missing_values(data)
data['date'] = pd.to_datetime(data['date'])

Nombre de valeurs manquantes : 0

In [5]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
time_stamp = (data['date'].diff().dropna().dt.total_seconds().unique()/60)[0]
print(f'Pas de temps entre deux données : {time_stamp}min')

Pas de temps entre deux données : 10.0min

In [7]:
data.describe()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,2016-03-20 05:30:00,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
min,2016-01-11 17:00:00,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,2016-02-14 23:15:00,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,2016-03-20 05:30:00,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,2016-04-23 11:45:00,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,2016-05-27 18:00:00,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530
std,NaN,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634

In [8]:
be_holidays = holidays.Belgium(years=data['date'].dt.year.unique())
be_holidays = {pd.Timestamp(date): name for date, name in be_holidays.items()}
data['is_holiday'] = data['date'].isin(be_holidays)

n_holidays = data[data['is_holiday']]['date'].count()
print(f'Il a {n_holidays} jour(s) férié(s) dans le dataset.')

Il a 6 jour(s) férié(s) dans le dataset.

In [9]:
data['is_weekend'] = data['date'].dt.weekday >= 5

n_weekend = int(len(data.loc[data['is_weekend'] == True, 'date'].dt.date.unique())/2)
print(f'Il y a {n_weekend} week-end dans le dataset.')

Il y a 19 week-end dans le dataset.

In [10]:
def get_season(date):
    year = date.year
    seasons = {
        0: (pd.Timestamp(year=year, month=3, day=21), pd.Timestamp(year=year, month=6, day=20)), # Printemps
        1: (pd.Timestamp(year=year, month=6, day=21), pd.Timestamp(year=year, month=9, day=20)), # Été
        2: (pd.Timestamp(year=year, month=9, day=21), pd.Timestamp(year=year, month=12, day=20)), # Automne
        3: (pd.Timestamp(year=year, month=12, day=21), pd.Timestamp(year=year+1, month=3, day=20)) # Hiver
        }
    for season, (start, end) in seasons.items():
        if start <= date <= end:
            return season
    return 3 # 01/01 - 20/03

In [11]:
data['season'] = data['date'].apply(get_season)

n_seasons = len(data['season'].unique())
print(f'Il y a {n_seasons} différentes dans le dataset.')

Il y a 2 différentes dans le dataset.

In [12]:
data['time_of_the_day'] = data['date'].dt.hour / 24 + data['date'].dt.minute / 1440
data[['date', 'time_of_the_day']]

                     date  time_of_the_day
0     2016-01-11 17:00:00         0.708333
1     2016-01-11 17:10:00         0.715278
2     2016-01-11 17:20:00         0.722222
3     2016-01-11 17:30:00         0.729167
4     2016-01-11 17:40:00         0.736111
...                   ...              ...
19730 2016-05-27 17:20:00         0.722222
19731 2016-05-27 17:30:00         0.729167
19732 2016-05-27 17:40:00         0.736111
19733 2016-05-27 17:50:00         0.743056
19734 2016-05-27 18:00:00         0.750000

[19735 rows x 2 columns]

In [13]:
be_school_holidays_2016 = [
    ("2016-02-08", "2016-02-14"),  # Carnaval
    ("2016-03-28", "2016-04-10"),  # Pâques
    ("2016-07-01", "2016-08-31"),  # Été
    ("2016-10-31", "2016-11-06"),  # Toussaint
    ("2016-12-26", "2017-01-08")   # Noël
]

def is_school_holiday(date, holidays):
    for start, end in holidays:
        if pd.Timestamp(start) <= date <= pd.Timestamp(end):
            return True
    return False

In [14]:
data['is_school_holiday'] = data['date'].apply(lambda x: is_school_holiday(x, be_school_holidays_2016))

n_school_holidays = len(data.loc[data['is_school_holiday'] == True, 'date'].dt.date.unique())
print(f'Il y a {n_school_holidays} jour(s) de vacances scolaires dans le dataset.')

Il y a 21 jour(s) de vacances scolaires dans le dataset.

In [15]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,Windspeed,Visibility,Tdewpoint,rv1,rv2,is_holiday,is_weekend,season,time_of_the_day,is_school_holiday
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,7.000000,63.000000,5.3,13.275433,13.275433,False,False,3,0.708333,False
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,6.666667,59.166667,5.2,18.606195,18.606195,False,False,3,0.715278,False
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,6.333333,55.333333,5.1,28.642668,28.642668,False,False,3,0.722222,False
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,6.000000,51.500000,5.0,45.410389,45.410389,False,False,3,0.729167,False
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,5.666667,47.666667,4.9,10.084097,10.084097,False,False,3,0.736111,False

In [16]:
save_data(data, 'processed_data')

Données sauvegardées avec succès.